* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  #main{
      background-color: rgb(11, 11, 33);
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
  }
  
  .container {
    border-radius: 11px;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr;
    width: 800px;
    height: 500px;
    
  }
 
  
  .community {
    background-color: rgb(255, 253, 253);
    text-align: center;
  }
  

  .card-details {
    position: relative;
    background-color: rgb(15, 67, 66);
    color: white;
    display : flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    gap: 10px;
    /* left: 10px; */

  }
  .card{
      background-color: rgb(15, 67, 66);
      color: white;
      display : flex;
      justify-content: center;
      flex-direction: column;
      text-align: center;
      gap: 10px;

  }
  .btn {
   display: flex;
   align-items: center;
   justify-content: center;
   text-align: center;
    width: 250px;
    border-radius: 20px;
    border: none;
    height: 50px;
    background-color: green;
    color: white;
    
    
  }
  
  .why-us{
      background-color: rgba(85, 145, 142, 0.698);
      display: flex;
      justify-content: center;
      flex-direction: column;
      gap: 10px;
      color: white;
  }
  
  .why-us-header{
    text-align: center;
    
  }
  
  .why-us-items{
    list-style: none;
    text-align: center;
  }
  
  .card-details{
      display: grid;
      grid-template-columns: 1fr 1fr;
  }